@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');

div{
    display:flex;
    justify-content: space-between;
}

.card{
    width: 250px;
    height: 500px;
    overflow: hidden;
    background-size: 700px;
    background-position: 393px -90px;
    position: relative;
    margin:20px;
    border: 1px solid black;
}

.card-article{

    background-color: white;
    background-position:bottom;
    width: 230px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    padding: 7px;
    font-family: rubik;
    transition: all 0.5s ease-in;
    box-sizing: border-box;
}

.card-article:hover{
    left: 0;
    width:250px;
    height: 500px;
}

h1{
    display: flex;
    font-size: 12px;
    font-weight: lighter;
    line-height: 0px;
}

h2{
    display: flex;
    font-size: 30px;
    line-height: 0px;
}

p{
    font-weight: normal;
    font-size: 12px;
    padding:5px;
}

footer{
position:absolute;
bottom: 0px;
left: 194px;

}

button{
    width: 30px;
    background-color: #04b7ac;
    border:none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;

}

button:hover{
    background-color: white;
    color: #04b7ac;
    border:0.5px solid #04b7ac;
}

